
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	

}
body{
	font-family: montserrat;
	

}
nav{
	height: 100px;
	width: 100%;
	background:gray;
}
label.logo{
	font-size: 50px;
	font-weight: bold;
	color: white;
	padding: 0 100px;
	line-height: 80px;

}
nav ul{
	float: right;
	margin-right: 40px;
}
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color:white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}
a.active,a:hover{
	border:5px solid gold;
	transition: .5s;
	
}
nav #icon{
	color: yellow;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;

}
@media (max-width: 1048px){
	label.logo{
		font-size: 30px;
		padding-left: 60px;

	}
nav ul{
	margin-right: 20px;

}
nav a{
	font-size: 17px;

}
}

.contactForm{
	width: 40%;
	padding: 40px;
	background: #fff;

}
.inputbox{
	font-size: 30px;
	background:#34495e;
	color: #333;
	
	justify-content: center;
	flex-direction: column;
	background: url(bg.jpg);
	color: black;
	

}

.contactForm .h2{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin:10px 0;
	border:none;
	border-bottom: 2px solid #333;
	outline: none;
	color: gray;



}
body{
	margin: 0;
	padding: 250;
	font-weight: Century Gothic;
	
	background-size: cover;
	background-position: center;
	right: 50%;


}
.container{
	height: 75vh;
	width: 30%;
	background: rgba(0,0,0,.6);
	top: 50%;
	
	

}
.img{
	height: 70px;
	width: 70px;
	background: url(study.jpeg);
	border-radius: 50px;
	position: absolute;
	top: 0%;
	left: 50%;
	
	background-position: center;
	background-size: cover;

}
.container h1{
	color: white;
	margin-top: 50px;
	position: center;

}
.container p{
	color: white;
	margin-top: 60px;
	font-size: large;

}
.ul{


	height: 10vh;
	width: 30%;
	background: rgba(0,0,0,.6);
	top: 5%;
	
	background-size: cover;
	background-position: center;
	padding: 2px ;
	margin-right: 8%;
	position: center;
	color:white;
	right: 80px;
}
.footer-container{
	background-color: #212329;
	
}
.footer{
	width: 10%;
	height: 10vh;
	background-color:rgb(47,89,2);
	color: #fff;
	flex-wrap: wrap;
	transform: translate(50%,50%);
	
	justify-content: center;
	padding-bottom: 
	margin-bottom:0.5rem;

}

.personal{
	font-size: 20px;
	background:#ffffff;
	color: red;
	
	background-color: #333;
	width: 60%;
   
	padding: 25px;

	color: white;
	height: 320px;
	transform: translate(35%,20%);
position: absolute;
	line-height: 20px;
	


	


}
.personal2{
	font-size: 10px;
	background:#ffffff;
	color: white;
	
	justify-content: center;
	margin-right: 10px;
	height: 100px;
	width: 5%;
	
	bottom: 0;
	left: 0;

	
	margin-right: 0;
	text-align: center;
	
}
h2{
	color: #333;
	font-size: 30px;
	font-family: monospace;
	padding: 30px;

}
.back{
	color: black;
	font-size: 20px;
	font-family: monospace;
	background: #4e9492;
	border:solid;
	height: 300px;
	width: 900px;
	align-self: center;
	top: 0;
	
	position: absolute;
	margin-right:
	text-align: center;
	justify-content: center;
	margin-right: 280px;
	display: inline-block;

}
h3{
	border: 1px solid black;
  outline: black solid 1px;
  margin: auto;  
  padding: 20px;
  text-align:left;
  width: 30%;
  color: #333;
  font-size: 35px;


}
div.a{
	text-decoration-line:  ;
	text-decoration-style: solid;
	font-family: monospace;
	letter-spacing: 3px;
	border-color: gold;
	text-decoration-color:gold;
	text-shadow: 3px 2px black;


	color:gold;


}



}
div.b{
	text-rendering: optimizeSpeed;
	color: red;
	font-size: 13px;
	color: gray;
	text-align: left;
}


.new{
	color: black;
	font-size: 25px;
	font-style:oblique;
	text-align: left;
	top: 15;
	right: 0;
	position: absolute;
	margin-right: 0;
	text-align: left;

}
div.c{
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color:rgb(0,180,214);
	color: rgb(0,180,214);
	font-size: 20px;
	text-align: center;

}

div.d{
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color:black;
	color: black;
	font-size: 30px;
	text-align: center;
	text-align: left;

}
p{
	color:white;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  width: 1000px;
  transform: translate(28%,20%);
}

.flip-card-inner {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
 background-color: #bbb;
  color: black;
  z-index: 2;
  
  
  


}

.flip-card-back {
  background-color: #bbb;
  color: red;
  transform: rotateY(180deg);
  z-index: 1;

}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.btn {
  background-color:black;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 12px;
}
p {
  border: 1px solid black;
  outline: gold solid 4px;
  margin: 0; 
justify-content:center;
max-height:50vh;
  padding: 0;
  text-align: center;
align-items:center;
  
	
  color: white;
  font-size: 10px;


}
h6 {
  border: 2px solid gold;
  outline: black solid 5px;
  margin: auto;  
  padding: 1px;
  text-align: center;
  width: 40%;
  line-height: 35px;
  height: 400px;
  color: #bbb;
}
h3{
	border: 1px solid black;
  outline: black solid 5px;
  margin: auto;  
  padding: 50px;
  text-align:left;

  width: 80%;
  color: #333;
  font-family: monospace;
  font-size: 35px;
  transform: translate(1%,50%);
}
h5{
	border: 1px solid black;
  outline: black solid 5px;
  margin: auto;  
  padding: 40px;
  text-align:left;

  width: 80%;
  color: #333;
  font-family: monospace;
  font-size: 35px;
  transform: translate(1%,50%);
}

}
h4{
	border: 1px solid white;
  outline: black solid 1px; 
  padding: 20px;
  text-align:left;
 width: 30%;
 height: 100px;
  color: gold;
  font-family: sans-serif;
  font-size: 20px;
  transform: translate(1%,50%);
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #bbb;
}
h1{
	color: #333;
	transform: translate(10%,80%);
	outline: black  1px; 
	padding: 2px;


}










